.header 
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications') 
            .noti-head   Notification 
                    span 50
            .noti-content 
                ul.list-unstyled    
                    li
                        i.fa.fa-envelope-o.fa-lg 
                        |You got Email From  hamzaessakhi
                    li
                        i.fa.fa-money.fa-lg 
                        |You got Money From  hamzaessakhi
                    li
                        i.fa.fa-envelope-o.fa-lg
                        |You got Email From  hamzaessakhi
                    li
                        i.fa.fa-thumbs-o-up.fa-lg
                        |You got Like From  hamzaessakhi
                    li
                        i.fa.fa-envelope-o.fa-lg
                        |You got Email From  hamzaessakhi
            .noti-foot.text-center: a(href="#") View All Notification
    i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
    .dropdown.usermenu-container
        .username#usermenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="https://placekitten.com/200/300",alt="Use Avatar")
            span.user Hamza Essakhi
            i.fa.fa-angle-down.fa-lg
        .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu') 
            .user-info
                h3 hamza essakhi
                P Premium Member
            hr 
            ul.activities-list.list-unstyled
                li Add Comment on Post "toto momo bobo"
                li Created Post on category "Science"
                li Shared Post on chart PAge
                li Add comment op Post "toto momo bobo"
            hr
            .row.usermenu-links
                .col    
                    .link-box
                        i.fa.fa-gear.fa-lg.fa-fw
                        span Settings
                .col    
                    .link-box
                        i.fa.fa-user.fa-lg.fa-fw
                        span Profile
                .col    
                    .link-box
                        i.fa.fa-power-off.fa-lg.fa-fw
                        span Logout